.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container header {
    margin: 0 auto;
    padding: 10px;
}

.container header {
    margin: 0 auto;
    padding: 20px;
}
header .field-header {
    padding: 20px;
}

.container header .menu {
    width: 100%;
	height: 40px;
    padding-left: 5px;
    border-radius: 10px;
}


header .menu ul {
    display: inline;
	margin: 0 auto;
    padding: 0;
    list-style: none;
    float: right;
}

.menu li {
    display: inline;
    margin: 0 auto;
    padding: 10px;
	position: relative;
}

header .field-header .user-name {
     display: inline;
     margin: 0 auto;
     padding-top: 20px;
    position: relative;
}

 select {
    appearance: none;
    border: none;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: right;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #149937;
    float:right;
}


.container .section-row {
    margin: 0 auto;
    padding: 10px;
}

fieldset {
    padding: 20px;
    border: 1px solid #149937;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px greenyellow;
}

.legend-header{
    font-size:large;
    text-transform: uppercase;
     cursor: pointer;
    overflow: hidden;
    box-shadow: 0 5px 15px #222;
    }

.legend-row {
    text-transform: uppercase;
    overflow: hidden;
     cursor: pointer;
    font-size: 15px;
    box-shadow: 0 5px 15px #222;
    }

.container .section-row table {
    width: 100%;
}

.container .section-row table .comp-font {
    width: 100%;
    font-size: 60px;
    
}


progress[value] {
   -webkit-appearance: none;
   appearance: none;
    width: 90%;
    height: 50px;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border: 2px solid #149937;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value::before {
  content: '22%';
  position: absolute;
  right: 0;
  top: -125%;
}

img {
    filter: drop-shadow(5px 5px 5px #222); 
}