<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content>
        <meta name="author" content>
        <!-- Mobile Specific Metas-->
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', path="/css/home.css" ) }}>
        <script src={{ url_for('static', path="/js/home.js" ) }} async></script>
    </head>
    <body>
        <div class="container">
            <header>
                <fieldset class="field-header">
                    <p class="user-name">Welcome {{0}}!</p>
                    <nav class="menu">
                        <ul>
                            <li><a href="#"><img src={{url_for('static', path="/images/share.png")}}  width="50"></a></li>
                            <li><a href="#"><img src={{url_for('static', path="/images/print.png")}} width="50"></a></li>
                            <li><a href="#"><img src={{url_for('static', path="/images/download.png") }} width="50"></a></li>
                            <li><a href="#"><img src={{url_for('static', path="/images/account.png") }} width="50"></a></li>
                        </ul>
                    </nav>
                </fieldset>
            </header>
            <section class="section-row">
                <fieldset>
                    <legend class="legend-header">Target Outcome</legend>
                    <table>
                        <tr>
                            <td>
                                <fieldset>
                                    <legend class="legend-row">Start Date</legend>
                                    <p>{{0}}</p>
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend class="legend-row">Next Contribution</legend>
                                    <p>{{0}}</p>
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend class="legend-row">Mojo Last Date</legend>
                                    <p>{{0}}</p>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <fieldset>
                                    <legend class="legend-row">Mojo progress</legend>
                                    <progress value="{{mojo_progress}}" max="100"></progress>
                                </fieldset>
                            </td>
                            <td rowspan="2">
                                <fieldset>
                                    <legend class="legend-row">Mojo Goal</legend>
                                    <p class="comp-font">${{0}}</p>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fieldset>
                                    <legend class="legend-row">Smile</legend>
                                    <p class="comp-font">${{0}}</p>
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend class="legend-row">Maintenance</legend>
                                    <p class="comp-font">${{0}}</p>
                                </fieldset>
                            </td>
                        </tr>
                
                    </table>
                </fieldset>

            </section>
        </div>
    </body>
</html>
