<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>access</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href={{url_for('static', path="/css/login.css")}}>
</head>

<body>
    <div class="login">
        <form class="form-signin">
            <img class="logo" src={{url_for('static', path="/images/logo.png")}} alt="" width="100"
                height="100">
            <h1 class="font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button type="submit">Sign in</button>
            <p class="copyright">&copy; 2021 CodeStreet.ai</p>
        </form>
    </div>
</body>

</html>
