<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content>
        <meta name="author" content>
        <!-- Mobile Specific Metas-->
        <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', path="/css/setup.css" ) }}>
    </head>
    <bod>
        <div class="container">
            <header>
                <fieldset class="field-header">
                    <p class="user-name">Hi {{0}}!</p>
                    <div class="field-select">
                        <select>
                            <option selected>My Account</option>
                            <option><a href="#">Update my account</a></option>
                            <option><a href=#">Sign Out</a></option>
                        </select>
                    </div>
                </fieldset>
            </header>
            <section class="section-row">
                <fieldset>
                    <Legend class="legend-header">Finance Configuration</Legend>
                    <form method="post" target="_blank">
                        <div class="field-row">
                            <fieldset>
                                <legend class="legend-row">Period</legend>
                                <input type="radio" name="period" id="weekly" value="weekly">
                                <label for="weekly">weekly</label><br>
                                <input type="radio" name="period" id="fortnightly" value="fortnightly" checked>
                                <label for="fortnightly">Fortnightly</label><br>
                                <input type="radio" name="period" id="monthly" value="monthly">
                                <label for="monthly">Monthly</label><br>
                            </fieldset>
                        </div>
                        <div class="field-row">
                            <fieldset>
                                <legend class="legend-row">Salary</legend>
                                <input type="text" name="salary" id="salary" placeholder="$" value=0>
                            </fieldset>
                        </div>
                        <div class="field-row">
                            <fieldset>
                                <legend class="legend-row">Date</legend>
                                <input type="date" name="start_date" id="start_date" , value="2021-01-01">
                            </fieldset>
                        </div>
                        <div class="field-row">
                            <fieldset>
                                <legend class="legend-row">Set Mojo Target</legend>
                                <input type="text" name="mojo" id="mojo" placeholder="$" , value=0>
                            </fieldset>
                        </div>
                        <div class="field-row">
                            <fieldset>
                                <legend class="legend-row">Salary Percentage Split</legend>
                                <table>
                                    <tr>
                                        <td><label for="other">Other:</label></td>
                                        <td class="td-range"><input type="range" id="other" min="60" max="100" step="" value="60"
                                                oninput="this.nextElementSibling.value = this.value"></td><td><output>60</output>%</td>
                                    </tr>
                                    <tr>
                                        <td><label for="mojo">Mojo:</label></td>
                                        <td class="td-range"><input type="range" id="mojo" min="0" max="20" value="20"
                                                oninput="this.nextElementSibling.value = this.value"></td>
                                        <td><output>20</output>%</td>
                                    </tr>
                                    <tr>
                                        <td><label for="smile">Smile:</label></td>
                                        <td class="td-range"><input type="range" id="smile" min="0" max="10" value="10"
                                                oninput="this.nextElementSibling.value = this.value"></td>
                                        <td><output>10</output>%</td>
                                    </tr>
                                    <tr>
                                        <td><label for="smile">Maintenance:</label></td>
                                        <td class="td-range"><input type="range" id="maintenance" min="0" max="10" value="10"
                                                oninput="this.nextElementSibling.value = this.value"></td>
                                        <td><output>10</output>%</td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="button">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </fieldset>
            </section>
            <footer></footer>
        </div>
    </bod>
</html>